/*<!-- Colors -->*/
/*@white: #FFFFFF;*/
/*@green-promo: #05FF00;*/
/*@green: #54C352;*/
/*@black: #000000;*/
/*@grey-dark: #333333;*/
/*@grey-light: #EFEFEF;*/
/*@grey: #CDCDCD;*/
/*@red: #FF0000;*/
/*@back: #165166;*/

:root {
    --white: #FFFFFF;
    --green-promo: #05FF00;
    --green: #54C352;
    --black: #000000;
    --grey-dark: #333333;
    --grey-light: #EFEFEF;
    --grey: #CDCDCD;
    --red: #FF0000;
    --back: #165166;
}

.container {
    width: 1625px;
    margin-right: auto;
    margin-left: auto;
    /*color: var(--white);*/
}

li, a {
    list-style: none;
    text-decoration: none;
    color: inherit;
}

.header {
    background-color: var(--back);
}

.promo {
    background-color: var(--back);
}

.promo__box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 200px;
}

.achievement {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 115px;
    grid-template-rows: 1fr 1fr;
    row-gap: 17px;
}

.promo__banner {
    margin-top: -300px;
    margin-right: -148px;
}

.lily {
    display: grid;
    grid-template-columns: 5fr 4fr 3fr;
}

.lily__item--alocasia {
    margin-right: 137px;
}

.lily__item--peace {
    margin-right: 190px;
}

.garden {
    background-color: var(--back);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 200px;
}

.quality {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px;
}

.footer {
    background-color: var(--back);
}